body{
    margin: 0;padding: 0;
    background-color: #554545;
    color:rgb(213, 200, 200) ;
    text-align: center;
}

h1{
    font-size: 50px;
}

input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius:10px ;
    margin: 10px;
}